<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LimbonganReady"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.ForumList"
            android:exported="true"
            android:theme="@style/Theme.LimbonganReady" />
        <activity
            android:name=".activities.LengkapiData"
            android:exported="true" />
        <activity
            android:name=".gambus.TriDGambus"
            android:exported="false" />
        <activity
            android:name=".lesungketintong.TriDLesong"
            android:exported="false" />
        <activity
            android:name=".hadra.TriDHadrah"
            android:exported="false" />
        <activity
            android:name=".lesungketintong.GameLesong"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hadra.GameHadrah"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gambus.GameGambus"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gambangan.Sketchfab"
            android:exported="false" />
        <activity
            android:name=".activities.Setting"
            android:exported="false" />
        <activity
            android:name=".activities.DetailEvent"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Login" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".gambangan.GameGambangan"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hadra.Hadra"
            android:exported="false" />
        <activity
            android:name=".gambus.GambusInangInang"
            android:exported="false" />
        <activity
            android:name=".lesungketintong.LesungKetintong"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".gambangan.VideoGambangan" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.Forum"
            android:exported="false" />
        <activity
            android:name=".activities.Event"
            android:exported="false" />
        <activity
            android:name=".activities.Menu_Musik"
            android:exported="false" />
        <activity
            android:name=".activities.Tentang_Desa"
            android:exported="false" />
        <activity
            android:name=".gambangan.Alat_Musik1"
            android:exported="false" />
        <activity
            android:name=".Opening1"
            android:exported="false" />
        <activity android:name=".fragments.Home" />
        <activity android:name=".fragments.Notifikasi" />
        <activity android:name=".fragments.Koleksi" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Login"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>